body {
    background     : url('../../img/leaf-red.jpg') no-repeat fixed;
    background-size: cover;
}

#header .logo {
    background: var(--secondaryColor);
}

#menu ul li:hover {
    background: var(--secondaryColor);
}

#content #posts .post .read-more {
    background: var(--secondaryColor);
}

form input[type="submit"] {
    background: var(--secondaryColor);
    border    : 1px solid var(--secondaryColor);
}

.sidebar .about #logout {
    margin-left: 1rem;
    color : var(--secondaryColor);
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid var(--secondaryColor);
    background: var(--secondaryColor);
}
