body {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

#container {
    background   : $white;
    border-radius: .25em;
    box-shadow   : 1px 1px 3px $secondaryText;
}

.clearfix {
    float: none;
    clear: both;
}

@include mobile {
    body {
        font-size: 14px;
    }

    #container {
        width  : 90vw;
        padding: 1rem;
        margin : 1rem auto 0;
    }
}

@include laptop{
    body {
        font-size: 16px;
    }
}

@include desktop {
    #container {
        width        : 70vw;
        padding      : 1.5rem;
        margin       : 1.875rem auto 0;
    }
}