#content {
    #contact {
        color    : $primaryText;
        font-size: 1.15rem;
        float    : left;
        margin   : 1.5rem 0;

        #contact-form {
            margin: .9rem 0 0;

            #contact-name-error,
            #contact-lastname-error,
            #contact-email-error,
            #date-error,
            #age-error,
            #message-error {
                color     : $error;
                border    : none;
                box-shadow: none;
                font-size : .875rem;
            }

            .error {
                border    : 1px solid $error;
                box-shadow: 0 0 3px 1px $error inset;
            }

            label {
                display: block;
                width  : 85%;
            }

            textarea {
                resize: none;
                height: 10rem;
            }

            input[type="submit"] {
                display: inline-block;
                width  : 85%;
            }

            .form-info{
                font-size: .875rem;
                color: $secondaryText;
                margin: -.75rem 0;
            }
        }
    }
}

@include mobile {
    #content {
        #contact {
            width     : 100%;
            text-align: center;

            label {
                text-align: start;
                margin    : 0 auto;
            }
        }
    }
}

@include laptop {
    #content {
        #contact {
            width: 60%;
        }
    }
}