#content {
    #posts {
        float: left;

        .post {
            padding: .4rem;

            h2 {
                font-size: 1.875rem;
                color    : $primaryText;
            }

            .date {
                display: block;
                color  : $secondaryText;
            }

            p {
                margin     : 1rem 0 0;
                line-height: 1.35em;
                text-align : justify;
                color      : $primaryText;
            }

            .read-more {
                padding      : .75rem;
                font-size    : .9rem;
                color        : $white;
                margin       : .625rem 0 1.25rem;
                border-radius: .25em;
            }
        }
    }

    .sidebar {
        float: right;

        #login {
            color : $primaryText;

            a {
                display: inline-block;
                color  : $primaryText;
            }
        }

        .about {
            .user-name {
                display   : block;
                text-align: center;
                color     : $primaryText;
                font-size : .95rem;
            }

            h3 {
                margin     : 2rem 0 1.25rem;
                text-align : center;
                line-height: .6rem;
                color      : $primaryText;
                background : img('lines.png') repeat-x;

                span {
                    background: $white;
                    padding   : .25rem;
                }
            }

            img {
                width        : 100%;
                border-radius: .25rem;
            }

            p {
                text-align: justify;
            }
        }
    }
}

@include mobile {
    #content {
        #posts {
            width: 100%;

            .post {
                p {
                    line-height: 1.5em;
                }

                .read-more {
                    display   : block;
                    text-align: center;
                }
            }
        }

        .sidebar {
            width: 100%;

            #login {
                margin: 2rem auto 1.25rem;
                width: 90%;

                a {
                    display: inline-block;
                }


                label {
                    display: block;
                }

            }

            .about {
                img {
                    width        : 100%;
                    border-radius: .25rem;
                }

                p {
                    margin: .3em 0;
                }
            }
        }
    }
}

@include laptop {
    #content {
        #posts {
            width: 60%;
    
            .post {    
                .read-more {
                    display      : inline-block;
                }
            }
        }
    
        .sidebar {
            width: 35%;
    
            #login {
                margin: 2rem 0 1.25rem;
            }
    
            .about {    
                p {
                    font-size : 1rem;
                }
            }
        }
    }
}