.footer{
    height: 3rem;
    margin: 2.5rem auto 0;
    line-height: 3rem;
    text-align: center;
    border-radius: .25em;
    color: $white;
    background: $footer;

    .go-up{
        color: $white;
        float: right;
    }
}

@include mobile {
    .footer{
        width: 90vw;
        padding: 0 .25rem;
        text-align: center;
        font-size: .75rem;

        .go-up{
            margin: 0 .25rem;
        }
    }
}

@include tablet{
    .footer{
        width: 63vw;
        font-size: .95rem;
    
        .go-up{
            margin: 0 1em;
        }
    }
}