#header {
    .logo {
        float         : left;
        color         : $white;
        font-family   : 'Verdana', 'Arial', sans-serif;
        letter-spacing: .25rem;
        border-radius : .25em;
        text-align    : center;
        text-transform: uppercase;
    }

    #menu {
        width         : 100%;
        background    : $primaryText;
        border-radius : .25em;
        text-transform: uppercase;

        ul {
            li {
                display   : inline-block;
                transition: all .3s;

                a {
                    display: block;
                    color  : $white;
                }
            }
        }
    }
}

@include mobile {
    #header {
        .logo {
            width        : 100%;
            margin-bottom: 1rem;
            height       : 3rem;
            line-height  : 3rem;
            font-size    : 1.5rem;
        }

        #menu {
            margin-bottom: 1rem;
            font-size    : .75rem;

            ul {
                line-height: 1rem;
                text-align: center;

                li {
                    a {
                        padding: .75rem;
                    }
                }
            }
        }
    }
}

@include laptop {
    #header {
        .logo {
            width         : 18rem;
            height        : 4rem;
            line-height   : 4rem;
            margin-bottom : 1.25rem;
            font-size     : 1.875rem;
        }
    
        #menu {
            margin-bottom : 1.25rem;
            font-size     : .875rem;
    
            ul {
                line-height: 2.875rem;
                text-align: start;
    
                li {
    
                    a {
                        padding: 0 1.875rem;
                    }
                }
            }
        }
    }
}